# Java stuff
*.class

# Emacs Stuff
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp

# Eclipse Stuff
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath

## CDT-specific
.cproject

# Language model
jaaga.voice.lm